body {
    background: rgb(54,54,59);
    background: radial-gradient(circle, rgba(54,54,59,1) 0%, rgba(33,33,64,1) 51%, rgba(112,128,144,1) 100%);
    color: white;
    font-family: 'Dosis';
    margin: 0;
    scroll-behavior: smooth;
}

.summary {
    font-size: x-large;
    
}

input:focus {
    color: white;
    outline: white;
}


a{
    color:white;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000,
    1px 1px 0 #000,
   1px 1px 0 #000,
   1px 1px 0 #000;
}
a:active{
    color:orange;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
a:visited{
    color:white;
}

.container {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 20px;
    align-items: center;
    width: 95%;
    margin-top: 5px;
    /* position:fixed; */
    
}

.container ul {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 100%;
    margin:50px;
    position:fixed;
}

.container ul li a {
    padding: 5px;
    padding-bottom: 11px;
    width:max-content;
    font-size: 17px;
    /* margin-left: 100px; */
    position: fixed;
    
}


/* header stuff */
.header {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.headerTitle {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 10px;
    margin-left: auto;
    opacity: 1;
    font-size: 50px;
    /* color: ; */
    text-shadow: 3px 3px 0 #000,
    3px 3px 0 #000,
   3px 3px 0 #000,
   3px 3px 0 #000;
}

header {
    background: url(/images/Chapin.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    max-width: 100%;
    opacity: .8;

}

/* Project part stuff */


#projects {
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap; */
    margin: 0px 100px 0px 50px 
}

#projectHeader {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: xx-large;
    text-decoration: underline;
    padding-top: 50px;
    
}

.HelloWorld {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
}

.break1 {
    background: url(/images/LandscapeTree.jpg);
    background-attachment: fixed;
    max-width: 100%;
    padding: 400px 100px;
    margin: 0;
    border: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

#LittleRyan {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.FortuneTeller {
    display: flex;
    justify-items: center;
    justify-content: center;
    /* margin-top: 200px;
    margin-bottom: 200px; */

}

#FortuneTellerImage {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    justify-content: center;

}

.FortuneTellerText {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 200px;
    margin-bottom: 250px; */

}

.break2 {
    background: url(/images/Cabin.jpg);
    background-attachment: fixed;
    max-width: 100%;
    padding: 400px 100px;
    margin: 0;
    border: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.GuessingGame {
    display: flex;
    justify-items: center;
    justify-content: center;
    /* margin-top: 200px;
    margin-bottom: 250px; */
}

.GuessingGameText {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-bottom: 200px; */
}

.break3 {
    background: url(/images/TallTrees.jpg);
    background-attachment: fixed;
    max-width: 100%;
    padding: 400px 100px;
    margin: 0;
    border: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

#GuessingGamePic {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.VPS {
    display: flex;
    justify-items: center;
    justify-content: center;
    /* margin-top: 200px;
    margin-bottom: 250px; */
}

.VPSText {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
    /* margin-top: 200px;
    margin-bottom: 250px; */
}

#RbATeam {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.break4 {
    background: url(/images/Chapin.jpg);
    background-attachment: fixed;
    max-width: 100%;
    padding: 400px 100px;
    margin: 0;
    border: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.AboutMe {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 90px;
    text-decoration:underline;
    font-size: xx-large;
}

.AboutText {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: large;
    text-shadow: 2px 2px 0 #000,
    2px 2px 0 #000,
   2px 2px 0 #000,
   2px 2px 0 #000;
}

.break5 {
    background: url(/images/RbATeamPic.jpg);
    background-attachment: fixed;
    max-width: 100%;
    padding: 400px 100px;
    margin: 0;
    border: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactHeader {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 80px;
    font-size: xx-large;
    text-shadow: 1px 1px 0 #000,
    1px 1px 0 #000,
   1px 1px 0 #000,
   1px 1px 0 #000;
   text-decoration: underline;
}


#GitHubLogo {
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#LinkedLogo {
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}



